.pulsingMarker {
  width: 20px; /* Adjust the base size of the ball */
  height: 20px;
  background-color: rgba(0, 150, 255, 0.7); /* Light blue color */
  border-radius: 50%; /* Makes it a circle */
  box-shadow: 0 0 15px rgba(0, 150, 255, 0.5); /* Adds a glow effect */
  animation: pulse 2s infinite ease-in-out; /* Smooth pulsing animation */
}



@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}
